body {
	padding: 20px;
	padding-top: 0;
	text-align: center;
}

h2 {
	background: #ccc;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	padding: 10px;
}


input[type="text"] {
	height: 30px;
	width: 300px;
}

#divContent {
	text-align: left;
	float: left;
	background: #ccc;
	width: 1050px;
	height: 550px;
	padding: 10px;
}


#divNav {
	background: #eee;
	float: right;
	width: 200px;
	height: 510px;
	padding: 10px;
	padding-top: 50px;
	font-size: 19px;
	
}

#ulNav {
	list-style-type: none;
	display: block;
	cursor: pointer;
}

#ulNav li {
	background: white;
	width: inherit;
	padding: 10px;
}

#ulNav li:hover {
	background: #aaa;
}

#spanBtn {
	float: right;
}